{
    "swagger": "2.0",
    "info": {
      "version": "v6",
      "title": "MINDBODY Public API"
    },
    "host": "api.mindbodyonline.com",
    "schemes": [
      "https"
    ],
    "paths": {
      "/public/v{version}/appointment/addappointment": {
        "post": {
          "tags": [
            "Appointment"
          ],
          "summary": "Book a new appointment.",
          "description": "To book an appointment, you must use a location ID, staff ID, client ID, session type ID, and the `StartDateTime` of the appointment. You can get most of this information using `GET BookableItems`.",
          "operationId": "Appointment_AddApppointment",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AddAppointmentRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/AddAppointmentResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/updateappointment": {
        "post": {
          "tags": [
            "Appointment"
          ],
          "summary": "Update an existing appointment.",
          "description": "To update the information for a specific appointment, you must have a staff user token with the proper permissions. Note that you can only update the appointment’s `StartDateTime`, `EndDateTime`, `StaffId`, `Notes`, and `SessionTypeId`.",
          "operationId": "Appointment_UpdateApppointment",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateAppointmentRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/UpdateAppointmentResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/bookableitems": {
        "get": {
          "tags": [
            "Appointment"
          ],
          "summary": "Get staff appointment availability.",
          "description": "Returns a list of availabilities with the information needed to book appointments. Availabilities include information such as the location and its amenities, staff members, programs, and session types.",
          "operationId": "Appointment_GetBookableItems",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.sessionTypeIds",
              "in": "query",
              "description": "A list of the requested session type IDs.",
              "required": true,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.appointmentId",
              "in": "query",
              "description": "If provided, filters out the appointment with this ID.",
              "required": false,
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "The end date of the requested date range. \r\n<br />Default: **StartDate**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.ignoreDefaultSessionLength",
              "in": "query",
              "description": "When `true`, availabilities that are non-default return, for example, a 30-minute availability with a 60-minute default session length.<br />\r\nWhen `false`, only availabilities that have the default session length return.",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "A list of the requested location IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.staffIds",
              "in": "query",
              "description": "A list of the requested staff IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "The start date of the requested date range. \r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetBookableItemsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/activesessiontimes": {
        "get": {
          "tags": [
            "Appointment"
          ],
          "summary": "Get active session times.",
          "description": "Returns a list of the times that can be booked for a given program schedule type. `ActiveSessionTimes` represent the scheduling increments that can be booked during the active business hours for services.",
          "operationId": "Appointment_GetActiveSessionTimes",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.endTime",
              "in": "query",
              "description": "Filters results to times that end on or before this time on the current date. Any date provided is ignored..\r\n<br />Default: **23:59:59**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.scheduleType",
              "in": "query",
              "description": "Filters on the provided the schedule type. Either `SessionTypeIds` or `ScheduleType` must be provided.",
              "required": false,
              "type": "string",
              "enum": [
                "All",
                "Class",
                "Enrollment",
                "Appointment",
                "Resource",
                "Media",
                "Arrival"
              ]
            },
            {
              "name": "request.sessionTypeIds",
              "in": "query",
              "description": "Filters on the provided session type IDs. Either `SessionTypeIds` or `ScheduleType` must be provided.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startTime",
              "in": "query",
              "description": "Filters results to times that start on or after this time on the current date. Any date provided is ignored.\r\n<br />Default: **00:00:00**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetActiveSessionTimesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/scheduleitems": {
        "get": {
          "tags": [
            "Appointment"
          ],
          "summary": "Get appointment schedule.",
          "description": "Returns a list of schedule items, including appointments, availabilities, and unavailabilities. Unavailabilities are the times at which appointments cannot be booked, for example, on holidays or after hours when the business is closed.",
          "operationId": "Appointment_GetScheduleItems",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "The end date of the requested date range. \r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.ignorePrepFinishTimes",
              "in": "query",
              "description": "When `true`, appointment preparation and finish unavailabilities are not returned. \r\n<br />Default: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "A list of requested location IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.staffIds",
              "in": "query",
              "description": "A list of requested staff IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "The start date of the requested date range. \r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetScheduleItemsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/appointmentoptions": {
        "get": {
          "tags": [
            "Appointment"
          ],
          "summary": "Get appointment-related settings.",
          "description": "This endpoint has no query parameters.",
          "operationId": "Appointment_GetAppointmentOptions",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetAppointmentOptionsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/appointment/staffappointments": {
        "get": {
          "tags": [
            "Appointment"
          ],
          "summary": "Get appointments grouped by staff member.",
          "description": "Returns a list of appointments by staff member.",
          "operationId": "Appointment_GetStaffAppointments",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.appointmentIds",
              "in": "query",
              "description": "A list of the requested appointment IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The client ID to be returned.",
              "required": false,
              "type": "string"
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "The end date of the requested date range. \r\n<br />Default: **StartDate**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "A list of the requested location IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.staffIds",
              "in": "query",
              "description": "List of staff IDs to be returned. Use a value of zero to return all staff appointments.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "The start date of the requested date range. If omitted, the default is used. \r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetStaffAppointmentsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/classes": {
        "get": {
          "tags": [
            "Class"
          ],
          "summary": "Get scheduled classes.",
          "operationId": "Class_GetClasses",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classDescriptionIds",
              "in": "query",
              "description": "The requested class description IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.classIds",
              "in": "query",
              "description": "The requested class IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The client ID of the client who is viewing this class list. Based on identity, the client may be able to see additional information, such as membership specials.",
              "required": false,
              "type": "string"
            },
            {
              "name": "request.endDateTime",
              "in": "query",
              "description": "The requested end date for filtering.\r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.hideCanceledClasses",
              "in": "query",
              "description": "When `true`, canceled classes are removed from the response.<br />\r\nWhen `false`, canceled classes are included in the response.<br />\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.lastModifiedDate",
              "in": "query",
              "description": "When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "A list of location IDs on which to base the search.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.programIds",
              "in": "query",
              "description": "A list of program IDs on which to base the search.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.schedulingWindow",
              "in": "query",
              "description": "When `true`, classes outside scheduling window are removed from the response.<br />\r\nWhen `false`, classes are included in the response, regardless of the scheduling window.<br />\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.semesterIds",
              "in": "query",
              "description": "A list of semester IDs on which to base the search.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.sessionTypeIds",
              "in": "query",
              "description": "A list of session type IDs on which to base the search.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.staffIds",
              "in": "query",
              "description": "The requested IDs of the teaching staff members.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startDateTime",
              "in": "query",
              "description": "The requested start date for filtering. \r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClassesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/classdescriptions": {
        "get": {
          "tags": [
            "Class"
          ],
          "summary": "Get class descriptions.",
          "description": "To find class descriptions associated with **scheduled classes**, pass `StaffId`, `StartClassDateTime`, `EndClassDateTime`, or `LocationId` in the request.",
          "operationId": "Class_GetClassDescriptions",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classDescriptionId",
              "in": "query",
              "description": "Filters to the single result with the given ID.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.endClassDateTime",
              "in": "query",
              "description": "Filters the results to class descriptions for scheduled classes that happen before the given date and time.",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationId",
              "in": "query",
              "description": "Filters results to classes descriptions for schedule classes as the given location.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.programIds",
              "in": "query",
              "description": "Filters results to class descriptions belonging to the given programs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.staffId",
              "in": "query",
              "description": "Filters results to class descriptions for scheduled classes taught by the given staff member.",
              "required": false,
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "request.startClassDateTime",
              "in": "query",
              "description": "Filters the results to class descriptions for scheduled classes that happen on or after the given date and time.",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClassDescriptionsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/classvisits": {
        "get": {
          "tags": [
            "Class"
          ],
          "summary": "Get information about clients booked in a class.",
          "description": "Returns a list of visits that contain information for a specified class. On success, this request returns the class object in the response with a list of visits.",
          "operationId": "Class_GetClassVisits",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classID",
              "in": "query",
              "description": "The class ID.",
              "required": false,
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "request.lastModifiedDate",
              "in": "query",
              "description": "When included in the request, only records modified on or after the `LastModifiedDate` specified are included in the response.",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClassVisitsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/removeclientfromclass": {
        "post": {
          "tags": [
            "Class"
          ],
          "summary": "Remove a client from a class.",
          "operationId": "Class_RemoveClientFromClass",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/RemoveClientFromClassRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RemoveClientFromClassResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/addclienttoclass": {
        "post": {
          "tags": [
            "Class"
          ],
          "summary": "Book a client into a class.",
          "description": "This endpoint adds a client to a class or to a class waiting list. It is helpful to use this endpoint in the following situations:\r\n* Use after calling `GET Clients` and `GET Classes` so that you are sure which client to book in which class.\r\n* If adding a client to a class from a waiting list, use this call after you call `GET WaitlistEntries` and determine the ID of the waiting list from which you are moving the client.\r\n* If adding a client to a class and using a pricing option that the client has already purchased, use this call after you call `GET ClientServices` to determine the ID of the pricing option that the client wants to use.\r\n\r\nIf you add a client to a class and the client purchases a new pricing option, use `GET Services`, `GET Classes`, and then `POST CheckoutShoppingCart` in place of this call.\r\n\r\nThis endpoint also supports cross-regional class bookings. If you want to perform a cross-regional class booking, set `CrossRegionalBooking` to `true`. This endpoint does not support adding a user to a waiting list using a cross-regional client pricing option(service). Cross-regional booking workflows do not support client service scheduling restrictions.\r\n\r\nWhen performing a cross-regional class booking, this endpoint loops through the first ten sites that the client is associated with, looks for client pricing options at each of those sites, and then uses the oldest client pricing option found.It is important to note that this endpoint only loops through a maximum of ten associated client sites. If a `ClientID` is associated with more than ten sites in an organization, this endpoint only loops through the first ten.If you know that a client has a client service at another site, you can specify that site using the `CrossRegionalBookingClientServiceSiteId` query parameter.\r\n\r\nIf you perform a cross-regional booking, two additional fields are included in the `SessionType` object of the response:\r\n* `SiteID`, which specifies where the client service is coming from\r\n* `CrossRegionalBookingPerformed`, a Boolean field that is set to `true`\r\n\r\nAs a prerequisite to using this endpoint, your `SourceName` must have been granted access to the organization to which the site belongs.",
          "operationId": "Class_AddClientToClass",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AddClientToClassRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/AddClientToClassResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/classschedules": {
        "get": {
          "tags": [
            "Class"
          ],
          "summary": "Get class schedules.",
          "operationId": "Class_GetClassSchedules",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classScheduleIds",
              "in": "query",
              "description": "The class schedule IDs.\r\n<br />Default: **all**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "The end date of the range. Return any active enrollments that occur on or before this day.\r\n<br />Default: **StartDate**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "The location IDs. \r\n<br />Default: **all**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.programIds",
              "in": "query",
              "description": "The program IDs. \r\n<br />Default: **all**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.sessionTypeIds",
              "in": "query",
              "description": "The session type IDs. \r\n<br />Default: **all**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.staffIds",
              "in": "query",
              "description": "The staff IDs. \r\n<br />Default: **all**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "The start date of the range. Return any active enrollments that occur on or after this day.\r\n<br />Default: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClassSchedulesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/waitlistentries": {
        "get": {
          "tags": [
            "Class"
          ],
          "summary": "Get waiting list entries.",
          "description": "Returns a list of waiting list entries for a specified class schedule or class. The request requires staff credentials and either a class schedule ID or class ID.",
          "operationId": "Class_GetWaitlistEntries",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classIds",
              "in": "query",
              "description": "The requested class IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request. <br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClassIds**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.classScheduleIds",
              "in": "query",
              "description": "The requested class schedule IDs. If a class ID is present, the request automatically disregards any class schedule IDs in the request.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClassScheduleIds**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.clientIds",
              "in": "query",
              "description": "The requested client IDs.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all ClientIds**",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.hidePastEntries",
              "in": "query",
              "description": "When `true`, indicates that past waiting list entries are hidden from clients.<br />\r\nWhen `false`, indicates that past entries are not hidden from clients.<br />\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.waitlistEntryIds",
              "in": "query",
              "description": "The requested waiting list entry IDs.<br />\r\nEither `ClassScheduleIds`, `ClientIds`, `WaitlistEntryIds`, or `ClassIds` is required; the others become optional.<br />\r\nDefault: **all WaitlistEntryIds**",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetWaitlistEntriesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/removefromwaitlist": {
        "post": {
          "tags": [
            "Class"
          ],
          "summary": "Remove a client from a waiting list.",
          "description": "This endpoint does not return a response. If a call to this endpoint results in a 200 OK HTTP status code, then the call was successful.",
          "operationId": "Class_RemoveFromWaitlist",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.waitlistEntryIds",
              "in": "query",
              "description": "A list of waiting list IDs to remove from waiting lists.",
              "required": true,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/RemoveFromWaitlistResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/class/substituteclassteacher": {
        "post": {
          "tags": [
            "Class"
          ],
          "summary": "Substitute a class teacher.",
          "operationId": "Class_SubstituteClassTeacher",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/SubstituteClassTeacherRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/SubstituteClassTeacherResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clients": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get clients.",
          "operationId": "Client_GetClients",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.clientIDs",
              "in": "query",
              "description": "The requested client IDs.\r\nDefault: **all IDs** that the authenticated user’s access level allows.",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.isProspect",
              "in": "query",
              "description": "When `true`, filters the results to include only those clients marked as prospects for the business.<br />\r\nWhen `false`, indicates that only those clients who are not marked prospects should be returned.",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.lastModifiedDate",
              "in": "query",
              "description": "Filters the results to include only the clients that have been modified on or after this date.",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.searchText",
              "in": "query",
              "description": "Text to use in the search. Can include FirstName, LastName, and Email. Note that user credentials must be provided.",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientformulanotes": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a client's formula notes.",
          "operationId": "Client_GetClientFormulaNotes",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.appointmentId",
              "in": "query",
              "description": "The appointment ID of the appointment that the formula notes are related to.",
              "required": false,
              "type": "integer",
              "format": "int64"
            },
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The client ID of the client whose formula notes are being requested.",
              "required": false,
              "type": "string"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientFormulaNotesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/uploadclientdocument": {
        "post": {
          "tags": [
            "Client"
          ],
          "summary": "Upload a document to a client's profile.",
          "description": "Returns a string representation of the image byte array. The maximum document size is 1MB.\r\n\r\nThe maximum size file that can be uploaded is 4 MB.",
          "operationId": "Client_UploadClientDocument",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UploadClientDocumentRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/UploadClientDocumentResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/uploadclientphoto": {
        "post": {
          "tags": [
            "Client"
          ],
          "summary": "Upload a profile photo to a client's profile.",
          "description": "The maximum file size is 4 MB and acceptable file types are:\r\n* bmp\r\n* jpeg\r\n* gif\r\n* tiff\r\n* png",
          "operationId": "Client_UploadClientPhoto",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UploadClientPhotoRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/UploadClientPhotoResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientcontracts": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get contracts that a client has purchased.",
          "operationId": "Client_GetClientContracts",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The ID of the client.",
              "required": true,
              "type": "string"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.clientAssociatedSitesOffset",
              "in": "query",
              "description": "Determines how many sites are skipped over when retrieving a client’s cross regional contracts. Used when a client ID is linked to more than ten sites in an organization. Only a maximum of ten site databases are queried when this call is made and `CrossRegionalLookup` is set to `true`. To change which sites are queried, change this offset value.\r\nDefault: **0**",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.crossRegionalLookup",
              "in": "query",
              "description": "When `true`, indicates that the requesting client’s cross regional contracts are returned, if any.<br />\r\nWhen `false`, indicates that cross regional contracts are not returned.",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientContractsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientservices": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get pricing options that a client has purchased.",
          "operationId": "Client_GetClientServices",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The ID of the client to query. The results are a list of pricing options that the client has purchased. Note that “service” and “pricing option” are synonymous in this section of the documentation.",
              "required": true,
              "type": "string"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.classId",
              "in": "query",
              "description": "Filters results to only those pricing options that can be used to pay for this class.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.clientAssociatedSitesOffset",
              "in": "query",
              "description": "Used to retrieve a client’s pricing options from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` set to `true` to use this parameter.<br />\r\nDefault: **0**\r\n\r\nFor example, if a client is associated with 25 sites, you need to call `GetClientServices` three times, as follows:\r\n* Use `GET CrossRegionalClientAssociations` to determine how many sites a client is associated with, which tells you how many additional calls you need to make.\r\n* Either omit `ClientAssociatedSitesOffset` or set it to 0 to return the client’s services (pricing options) from sites 1-10.\r\n* Set `ClientAssociatedSitesOffset` to 10 to return the client pricing options from sites 11-20\r\n* Set `ClientAssociatedSitesOffset` to 20 to return the client pricing options from sites 21-25",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.crossRegionalLookup",
              "in": "query",
              "description": "Used to retrieve a client’s pricing options from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that a `SiteID` is returned and populated in the `ClientServices` response when `CrossRegionalLookup` is set to `true`.\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "Filters results to pricing options that are valid on or before this date.",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationIds",
              "in": "query",
              "description": "Filters results to pricing options that can be used at the listed location IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.programIds",
              "in": "query",
              "description": "Filters results to pricing options that belong to one of the given program IDs.",
              "required": false,
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "request.sessionTypeId",
              "in": "query",
              "description": "Filters results to pricing options that will pay for the given session type ID. Use this to find pricing options that will pay for a specific appointment type.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.showActiveOnly",
              "in": "query",
              "description": "When `true`, includes active services only.\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "Filters results to pricing options that are valid on or after this date.",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.visitCount",
              "in": "query",
              "description": "A filter on the minimum number of visits a service can pay for.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientServicesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientvisits": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a client's visit history.",
          "operationId": "Client_GetClientVisits",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The ID of the requested client.",
              "required": true,
              "type": "string"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.clientAssociatedSitesOffset",
              "in": "query",
              "description": "The number of sites to skip when returning the site associated with a client.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.crossRegionalLookup",
              "in": "query",
              "description": "When `true`, indicates that past and scheduled client visits across all sites in the region are returned.<br />\r\nWhen `false`, indicates that only visits at the current site are returned.",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "The date past which class visits are not returned.\r\nDefault: **today’s date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "The date before which class visits are not returned.\r\nDefault: **the end date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.unpaidsOnly",
              "in": "query",
              "description": "When `true`, indicates that only visits that have not been paid for are returned.<br />\r\nWhen `false`, indicates that all visits are returned, regardless of whether they have been paid for.<br />\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientVisitsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/activeclientmemberships": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a client's active memberships.",
          "operationId": "Client_GetActiveClientMemberships",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The ID of the client whose membership was requested.",
              "required": true,
              "type": "string"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.clientAssociatedSitesOffset",
              "in": "query",
              "description": "Used to retrieve a client’s memberships from multiple sites within an organization when the client is associated with more than ten sites. To change which ten sites are searched, change this offset value. A value of 0 means that no sites are skipped and the first ten sites are returned. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that you must always have `CrossRegionalLookup` set to `true` to use this parameter.<br />\r\nDefault: **0**\r\n\r\nFor example, if a client is associated with 25 sites, you need to call `GetClientServices` three times, as follows:\r\n* Use `GET CrossRegionalClientAssociations` to determine how many sites a client is associated with, which tells you how many additional calls you need to make.\r\n* Either omit `ClientAssociatedSitesOffset` or set it to 0 to return the client’s services (pricing options) from sites 1-10.\r\n* Set `ClientAssociatedSitesOffset` to 10 to return the client pricing options from sites 11-20\r\n* Set `ClientAssociatedSitesOffset` to 20 to return the client pricing options from sites 21-25",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.crossRegionalLookup",
              "in": "query",
              "description": "Used to retrieve a client’s memberships from multiple sites within an organization. When included and set to `true`, it searches a maximum of ten sites with which this client is associated. When a client is associated with more than ten sites, use `ClientAssociatedSitesOffset` as many times as needed to search the additional sites with which the client is associated. You can use the `CrossRegionalClientAssociations` value from `GET CrossRegionalClientAssociations` to determine how many sites the client is associated with. Note that a `SiteID` is returned and populated in the `ClientServices` response when `CrossRegionalLookup` is set to `true`.\r\nDefault: **false**",
              "required": false,
              "type": "boolean"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.locationId",
              "in": "query",
              "description": "The ID of the location where the requested membership was created.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetActiveClientMembershipsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/requiredclientfields": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get client required fields for a site.",
          "description": "Gets the list of fields that a new client has to fill out in business mode, specifically for the sign-up process. `AddClient` and `UpdateClient` validate against these fields.\r\n\r\nThis endpoint has no query parameters.",
          "operationId": "Client_GetRequiredClientFields",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetRequiredClientFieldsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientreferraltypes": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a site's configured client referral types.",
          "description": "Gets a list of referral types. Referral types are options that new clients can choose to identify how they learned about the business. Referral types are typically used for the sign-up process.",
          "operationId": "Client_GetClientReferralTypes",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.includeInactive",
              "in": "query",
              "description": "When `true`, filters the results to include subtypes and inactive referral types.<br />\r\nWhen `false`, includes no subtypes and only active types.",
              "required": false,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientReferralTypesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientaccountbalances": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get account balance information for one or more client(s).",
          "operationId": "Client_GetClientAccountBalances",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientIds",
              "in": "query",
              "description": "The list of clients IDs for which you want account balances.",
              "required": true,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.balanceDate",
              "in": "query",
              "description": "The date you want a balance relative to. \r\nDefault: **the current date**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.classId",
              "in": "query",
              "description": "The class ID of the event for which you want a balance.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientAccountBalancesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientpurchases": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a client's purchase history.",
          "operationId": "Client_GetClientPurchases",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request.clientId",
              "in": "query",
              "description": "The ID of the client you are querying for purchases.",
              "required": true,
              "type": "string"
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.endDate",
              "in": "query",
              "description": "Filters results to purchases made before this timestamp.<br />\r\nDefault: **end of today**",
              "required": false,
              "type": "string",
              "format": "date-time"
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.saleId",
              "in": "query",
              "description": "Filters results to the single record associated with this ID.",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.startDate",
              "in": "query",
              "description": "Filters results to purchases made on or after this timestamp.<br />\r\nDefault: **now**",
              "required": false,
              "type": "string",
              "format": "date-time"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientPurchasesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/clientindexes": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a site's configured client indexes and client index values.",
          "description": "Client indexes are used to analyze client demographics. A business owner can set up different categories with sets of values which they can assign to each client. Client indexes are used in client searches, for tagging clients so that the owner can send mass emails to similar groups, and for many reports.\r\n\r\nFor more information, see Client Indexes and [Client Index Values (video tutorial)](https://support.mindbodyonline.com/s/article/203261653-Client-indexes-and-client-index-values-video-tutorial?language=en_USclient).",
          "operationId": "Client_GetClientIndexes",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.requiredOnly",
              "in": "query",
              "description": "When `true`, filters the results to only indexes that are required on creation.<br />\r\nWhen `false` or omitted, returns all of the client indexes.",
              "required": false,
              "type": "boolean"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetClientIndexesResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/customclientfields": {
        "get": {
          "tags": [
            "Client"
          ],
          "summary": "Get a site's configured custom client fields.",
          "operationId": "Client_GetCustomClientFields",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            },
            {
              "name": "request.limit",
              "in": "query",
              "description": "Number of results to include, defaults to 100",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "request.offset",
              "in": "query",
              "description": "Page offset, defaults to 0.",
              "required": false,
              "type": "integer",
              "format": "int32"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetCustomClientFieldsResponse"
              }
            }
          }
        }
      },
      "/public/v{version}/client/addcontactlog": {
        "post": {
          "tags": [
            "Client"
          ],
          "summary": "Add a contact log to a client's account.",
          "operationId": "Client_AddContactLog",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AddContactLogRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
              "default": ""
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ContactLog"
              }
            }
          }
        }
      },
      "/public/v{version}/client/updatecontactlog": {
        "post": {
          "tags": [
            "Client"
          ],
          "summary": "Update a contact log on a client's account.",
          "operationId": "Client_UpdateContactLog",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded",
            "multipart/form-data"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "multipart/form-data"
          ],
          "parameters": [
            {
              "name": "request",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/UpdateContactLogRequest"
              }
            },
            {
              "name": "siteId",
              "in": "header",
              "description": "ID of the site from which to pull data.",
              "required": true,
              "type": "string"
            },
            {
              "name": "version",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "authorization",
              "in": "header",
              "description": "A staff user authorization token.",
              "required": false,
              "type": "string",
[...]
